@model AzureExplorerWebApp.ApiModels.Characters.DataWrapperModel
@{
    ViewData["Title"] = "Marvel";

    int previousOffset = Model.Data.Offset - Model.Data.Limit;
    int nextOffset = Model.Data.Limit + Model.Data.Offset;
    string name = Context.Request.Query["name"].ToString();
}

<div class="text-center">
    <h1 class="display-4">Exploring the Marvel Api!!!</h1>
    <div>
        <h2>Marvel Characters</h2>
        <h6>(Data provided by Marvel. © 2014 Marvel)</h6>
    </div>
</div>
<div class="text-left">
    <form action="Characters" method="get">
        <div class="row">
            <div class="col-auto">Name:</div>
            <div class="col">
                <input name="name" placeholder="Enter character name" autocomplete="off" class="form-control" />
            </div>
            <div class="col">
                <button type="submit" class="btn">Search</button>
            </div>
        </div>
    </form>
</div>
<div class="text-center">
    <div class="row">
        <div class="col-6 text-left">
            @if (previousOffset >= 0)
            {
                <a asp-controller="Marvel" asp-action="Characters" asp-route-offset="@previousOffset" asp-route-name="@name">Previous</a>
            }

        </div>
        <div class="col-6 text-right">
            @if (nextOffset < Model.Data.Total)
            {
                <a asp-controller="Marvel" asp-action="Characters" asp-route-offset="@nextOffset" asp-route-name="@name">Next</a>
            }
        </div>
    </div>
    @if (Model.Data.Results.Count > 0)
    {
        <div class="row">
            @foreach (var character in Model.Data.Results)
            {
                <div class="card">
                    <a href="@character.DetailUrl" target="_blank">

                        <div class="char-thum"><img src="@character.Thumbnail.Url" title="@character.Name" alt="@character.Name" /></div>
                        <div class="char-name"><span style="text-overflow: ellipsis">@character.Name</span></div>
                    </a>
                </div>
            }
        </div>
    }
    else
    {
        <div class="row text-center">No results found!</div>
    }
</div>